{% extends "./Base.html" %}
<title>Agregar Estudiante</title>

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg" style="background-color: #E7F3EC;">
                <div class="card-header text-center" style="background-color: #A5C9B3; color: #fff;">
                    <h2>Agregar Estudiante</h2>
                </div>
                <div class="card-body">
                    <form action="/agregar_estudiante/" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

