{% extends "./Base.html" %} 
<title>Lista de Profesores</title>
{% block body %}
<h2>Lista de Profesores</h2>
<!-- Tabla con datos-->
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>RUT</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for prof in profesores %}
            <tr>
                <td>{{ prof.idProfesor }}</td>
                <td>{{ prof.nombre }}</td>
                <td>{{ prof.apellido }}</td>
                <td>{{ prof.telefono }}</td>
                <td>{{ prof.correo }}</td>
                <td>{{ prof.rut }}</td>
                <td>
                    <a href="EliminarProfesor/{{prof.idProfesor}}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
