{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de profesor </title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{% static 'disenos/sidebar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-header">
            <h3>Opciones</h3>
        </div>
        <ul class="sidebar-menu">
            <li><a href="{% url 'horario_estudiante' estudiante_id=estudiante.idEstudiante %}"><i class="fas fa-user-plus"></i>Horario</a></li>
            <li><a href="{% url 'redirigir' %}"><i class="fas fa-chalkboard-teacher"></i>Material del profesor y tareas</a></li>
            <li><a href="{% url 'mis_calificaciones' %}"><i class="fas fa-book-open"></i>Calificaciones</a></li>
            <li><a href="{% url 'ver_pruebas' %}"><i class="fas fa-book-open"></i>Pruebas</a></li>
        </ul>
    </div>

    <!-- Contenido Principal -->
    <div class="content">
        <nav class="navbar">
            <a class="navbar-brand" href="#">Panel de estudiante</a>
            <div class="navbar-right">
                <a href="{{home_url}}" class="btn">Inicio</a>
                <a href="{% url 'logout_estudiantes' %}" class="btn">Cerrar sesión</a>
            </div>
        </nav>

        <div class="container">
            <div class="alert" role="alert">
                Usuario : {{ nombre_completo }}
            </div>
            <div class="row">

        </div>
    </div>
</body>
</html>
