{% extends "./Base.html" %}
<title>Cursos Asignados</title>
{% block body %}
<h1>Cursos Asignados a {{ profesor.nombre }} {{ profesor.apellido }}</h1>

<div class="container">
    <div class="row">
        {% for curso in cursos %}
            <div class="col-md-4">
                <a href=# class="card text-decoration-none text-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{ curso.nombre_curso }}</h5>
                    </div>
                </a>
            </div>
        {% empty %}
            <p>No hay cursos asignados para este profesor.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
