{% extends "./Base.html" %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center align-items-start" style="min-height: 100vh;">
    <div class="card p-4" style="width: 100%; max-width: 500px;">
        <h2 class="text-center mb-4">Subir Prueba</h2>

        <!-- Mostrar la prueba seleccionada -->
        <p class="text-center"><strong>Prueba Seleccionada:</strong> {{ prueba.titulo }}</p>

        <!-- Formulario de subida de prueba -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Subir Prueba</button>
        </form>
        <br>
        <a href="{% url 'ver_pruebas' %}" class="btn btn-secondary mb-3">Volver Atrás</a>

    </div>
</div>
{% endblock %}
